
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
  url('/fonts/roboto-v30-latin-regular.woff') format('woff');
}
